.mermaid {
    text-align: center;
 }

th, td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
    min-width: 1px !important;
}

.md-typeset__table {
    line-height: 1;
}

.md-typeset__table table:not([class]) {
    font-size: .50rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 6px;
    text-align: center !important;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: hsla(var(--md-hue),25%,25%,1)
}

.md-typeset .admonition.example,
.md-typeset details.example {
  background-color: #E7DEF6;
}

.animated-word {
  animation: fadeInOut 3s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

#dynamic-word-container {
  display: inline-block;
}

#dynamic-word {
  font-weight: bold;
  color: #5D4090;
}
